/*Global*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Bebas Neue', cursive;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}
main {
  position: absolute;
}

/*Header*/
.header-container {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
}
header {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  height: 100px;
}
.logo {
  width: 50px;
  height: 50px;
}
.nav-links {
  display: flex;
}
.nav-links li {
  margin-left: 70px;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  transition: 0.3s;
}
nav a:hover {
  color: #3062F7;
}
.burger {
  display: none;
}
.line {
  height: 5px;
  width: 35px;
  margin-top: 5px;
  background-color: white;
}
/*Hero*/
.hero {
  margin-top: 100px;
  color: white;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 50%;
}
.hero h1 {
  font-size: 50px;
  background: -webkit-linear-gradient(#eee, #3062F7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero p {
  font-size: 25px;
}
.read-more {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #3062F7;
  color: white;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  cursor: pointer;
}

/*Projects*/
.pr-h1 {
  text-align: center;
  font-size: 50px;
  padding: 20px;
}
.pr-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  justify-items: center;
}
.projects {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin-top: 200px;
  color: white;
}
.project {
  background-color: white;
  color: black;
  width: 90%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.project h1, .project p {
  text-align: center;
}
.project h1 {
  font-size: 40px;
}
.project p {
  padding: 20px;
  font-size: 20px;
}
.project-img {
  width: 100%;
}
.project-stack {
  margin-left: 20px;
}
.project-links {
  text-align: center;
}
.project-links button {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 20px;
  background-color: #3062F7;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
}

/*Skills and qualities*/
.skills-and-qualities {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  color: white;
  margin-top: 50px;
  text-align: center;
  border-radius: 20px;
}
.skills-and-qualities h1 {
  font-size: 60px;
  background: -webkit-linear-gradient(#eee, #3062F7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.skill-flex {
  display: flex;
  justify-content: center;
  font-size: 25px;
}
.qualities {
  list-style: none;
}

/*Contact*/
#contact-form {
  padding-left: 20px;
}
.contact-me {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin-top: 50px;
  width: 50%;
}
.contact-me h1 {
  text-align: center;
  font-size: 40px;
  background: -webkit-linear-gradient(#eee, #3062F7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#user-email {
  height: 50px;
  width: 50%;
  border-radius: 15px;
  padding: 5px;
  border-color: #3062F7;
}
#user-message {
  margin-top: 20px;

}
.contact-submit {
  margin-top: 10px;
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  background-color: #3062F7;
  color: white;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  cursor: pointer;
}

/*Responsive*/
@media only screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
    width: 100%;
}
/*Header*/
  .burger {
    display: block;
  }
  .nav-links {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    position: absolute;
    height: 72vh;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    list-style: none;
    transform: translateX(100%);
    transition: 0.3s;
  }
  .nav-active {
    transform: translateX(0%);
  }
  .no-scroll {
    overflow: hidden
  }
  /*Hero*/
  .hero {
    width: 100%;
    text-align: center;
  }
  .hero h1 {
    font-size: 30px;
  }
  .hero p {
    font-size: 16px;
  }
  .read-more {
    font-size: 16px;
  }

  /*Projects*/
  .pr-h1 {
    font-size: 30px;
  }
  .pr-grid {
    grid-template-columns: 1fr;
    gap: 5em;
  }
  .projects {
    width: 100%;
  }
  .project {
    width: 100%;
  }

  /*Skill and qulities*/
  .skills-and-qualities h1 {
    font-size: 30px;
  }
  .skills {
    list-style: none;
  }
  .skill-flex {
    font-size: 16px;
  }

  /*Contact*/
  .contact-me {
    width: 100%;
  }
  .contact-me h1 {
    font-size: 30px;
  background: -webkit-linear-gradient(#eee, #3062F7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
}